html {
  box-sizing: border-box;
  background-color: #f8f8f8;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

/*****
**  Flex Classes
*****/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****
**  button defaults
*****/

.button-default {
  height: 60px;
  margin: 5px 0px 0px 0px;
  border-radius: 0px;
  color: #fff;
  background-color: #000;
  border: none;
}

.button-default.active:hover {
  background-color: #f02525;
  cursor: pointer;
  transition: 0.5s;
}

/*****
**  App
*****/

.app {
  flex-direction: column;
}

/*****
**  NavBar
*****/

.navbar {
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.navbar-logo,
.navbar-links {
  flex: 1;
}

.navbar-logo {
  text-decoration: none;
  color: #000;
  margin: 10px;
  font-size: 2rem;
}

.navbar-links {
  display: flex;
}

.navbar-links > * {
  margin: 5px;
}

/*****
**  Single Product View
*****/

.single-product-container {
  max-width: 1200px;
  background-color: #fff;
}

.single-product {
  display: flex;
  margin: 10px;
}

.single-product > * {
  margin: 10px;
}

.single-product .images img {
  height: 300px;
  width: 400px;
}

.single-product .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.single-product .add-to-cart {
  display: flex;
  flex-direction: column;
}

.single-product .add-to-cart button,
.single-product .add-to-cart select {
  width: 300px;
}

.single-product .select-flag {
  margin: 0;
  padding: 5px;
  background-color: red;
  color: #fff;
}

/*****
**  Cart
*****/

.cart {
  padding: 20px;
  margin: 20px;
}

.cart-main {
  display: flex;
  align-items: flex-start;
}

.cart-main > * {
  margin: 20px;
}

.cart .empty,
.cart .nonempty {
  text-align: center;
}

.cart .nonempty .header {
  margin-bottom: 20px;
}

.checkout-button {
  width: 260px;
}

.cart .summary {
  background-color: #fff;
  padding: 20px;
}

.cart .summary--header,
.cart .summary--subtotal {
  display: flex;
  justify-content: space-between;
}

.cart .summary--header {
  padding: 0px 20px 20px 20px;
  border-bottom: 1px solid #f1f1f1;
}

.cart .summary--subtotal {
  padding: 20px;
}

/*****
**  Cart Item
*****/

.cart-item {
  background-color: #fff;
  display: flex;
}

.cart-item > * {
  margin: 20px;
}

.cart-item--img {
  width: 200px;
  height: 150px;
}

.cart-item--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item--info :first-child {
  display: flex;
  flex-direction: column;
}

.cart-item--info span {
  color: #000;
  text-emphasis: none;
}

.cart-item--info,
.cart-item--remove-container,
.cart-item--price {
  width: 100px;
}

.cart-item--info > * {
  margin: 5px;
  text-align: left;
}

.cart-item--remove {
  cursor: pointer;
  color: #c1c1c1;
}

/** ALL PRODUCTS **/
.productsList {
  margin-left: 20px;
  margin-right: 50px;
}
.productFilter {
  display: inline;
  align-content: right;
}

/*****
**  Checkout
*****/

.checkout {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  flex-direction: column;
}

.checkout-summary,
.checkout-total,
.checkout-products {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkout-summary {
  justify-content: flex-end;
}

.checkout-total {
  justify-content: space-between;
}

.checkout-summary,
.checkout-products {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid #f1f1f1;
}

.checkout-summary a {
  color: #c1c1c1;
}

.checkout-total {
  padding: 20px;
}

.checkout .place-order-button {
  width: 260px;
}
