html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

/*****
**  Flex Classes
*****/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*****
**  NavBar
*****/

.navbar {
  flex-direction: column;
  width: 100%;
}

.navbar-logo,
.navbar-links {
  flex: 1;
}

.navbar-logo {
  text-decoration: none;
  color: #000;
  margin: 10px;
  font-size: 2rem;
}

.navbar-links {
  display: flex;
}

.navbar-links > * {
  margin: 5px;
}

/*****
**  Single Product View
*****/

.single-product {
  display: flex;
  background-color: aqua;
  margin: 10px;
}

.single-product > * {
  margin: 10px;
}

.single-product .images {
  flex: 2.5;
  background-color: teal;
}

.single-product .images img {
  /** to be determined **/
}

.single-product .content {
  flex: 1.5;
  display: flex;
  flex-direction: column;
}

.single-product .add-to-cart {
  display: flex;
  flex-direction: column;
}

.single-product .add-to-cart button,
.single-product .add-to-cart select {
  height: 60px;
  margin: 5px 0px 0px 0px;
  border-radius: 0px;
}

.single-product .select-flag {
  margin: 0;
  padding: 5px;
  background-color: red;
  color: #fff;
}

/*****
**  Cart
*****/

.cart {
  padding: 20px;
  background-color: magenta;
  border: 1px solid red;
  margin: 20px;
}

.cart .empty,
.cart .nonempty {
  text-align: center;
}

.cart .nonempty .header {
  margin-bottom: 20px;
}

/*****
**  Cart Item
*****/

.cart-item {
  background-color: green;
  display: flex;
}

.cart-item > * {
  flex: 1;
  margin: 10px;
  background-color: orange;
}

.cart-item--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item--info > * {
  margin: 5px;
  flex: 1;
}

.cart-item--remove {
  cursor: pointer;
}

/** ALL PRODUCTS **/
.productsList {
  margin-left: 20px;
  margin-right: 50px;
}
.productFilter {
  display: inline;
  align-content: right;
}

.MuiCardMedia-root-131 {
  background-size: contain;
}
